.container {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.organizers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #000;
  object-fit: cover;
}

p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.register-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgb(11, 255, 64);
  background: rgb(8, 255, 49);
  cursor: pointer;
  transition: background 0.3s ease;
  font-style: normal;
}

.register-btn:hover {
  background: #ddd;
}

.badge {
  font-size: 12px;
  border-radius: 999px;
}
.add-new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 16px;
  background-color: #f9f9fc;
  color: #818181;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-new-card:hover {
  background-color: #f1f1f8;
  border-color: #aaa;
}

.plus-icon {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #7c3aed;
}

.add-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
}

  